:root {
  --menuWidth: 420px;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}

.dropdown {
  font-size: 16px;
  border: none;
  cursor: move;
  z-index: 10;
  text-align: center;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdownContent .dropdownValue {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent .dropdownValue:hover {
  background-color: #ddd;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
}

.dropdownContainer {
  display: inline-block;
  z-index: 9;
  width: 50%;
  flex: 0 0 auto;
}

.dropdownContainer:hover .dropdown {
  background-color: gray;
}

.selected {
  background-color: #dfe21b !important;
}

.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--menuWidth);
  background-color: #3395c7;
}

.menuHeader {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 12px;
  color: white;
  flex-basis: 50%;
  margin-bottom: 0px;
  height: 25px;
  margin-top: 20%;
}

.pageHeader nav {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.pageHeader .menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  align-content: flex-start;
}

.pageHeader .menu p {
  width: 100%;
  height: fit-content;
}

.pageHeader .menu button {
  font: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  float: left;
}

.pageContent {
  position: relative;
  left: var(--menuWidth);
  width: calc(100% - var(--menuWidth));
  min-height: 100vh;
  background-color: #e6dcee;
}

input {
  -webkit-appearance: none;
  border: none;
}

.menu input {
  width: 40%;
  flex-basis: 44%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 26px;
  text-align: center;
  margin-right: 15px;
}

.menuForm {
  margin-top: 0;
}

.menu button {
  height: 26px;
}

.addValue {
  margin-left: 15px;
}

.placeButton {
  background-color: #04aa6d;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: move;
  z-index: 10;
  width: 30px;
  position: absolute;
  white-space: nowrap;
  justify-content: center;
  display: flex;
}

.relayDisabled {
  cursor: not-allowed;
  background-color: #dfe21b;
}

.menuTitle {
  margin-top: 0% !important;
}

.addButton {
  margin-top: 20%;
}

.deleteButton {
  margin-left: 26%;
}

.addButton span {
  width: 50%;
}

.settingsInput {
  float: right;
}
